

/*-----общее сбрасывание стилей-----*/




.list {
    margin: 0;
    padding: 0;
    list-style: none;
}



/*-----header-----*/


/*----hero----*/






/*----benefits----*/






/*-----our-work-----*/







/*------team-----*/









/*------Clients--------*/






/*------footer-----*/








/*-------PORTFOLIO-------*/

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.projects-title {
    margin-bottom: 4px;
    color: #212121;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}



.filter:not(:last-child) {
    margin-right: 8px;
}

.filter :last-child {
    margin-right: 0px;
}

.filter-text {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.portfolio-item {
    margin: 15px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.blue-card {
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover .blue-card-text {
    transform: translateY(0);
}

.blue-card-text {
    position: absolute;
    top: 0;
    padding: 63px 24px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
}

/*-------------modal-------------*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}




.modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.modal-title {
    margin-bottom: 12px;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
}

.modal-input {
    padding-left: 42px;
    border: 1px Solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-family: inherit;
    color: #212121;
    background-color: transparent;
    outline: transparent;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: #757575;
}

.modal-label {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
}

.modal-input:focus {
    border-color: #2196f3;
}

.modal-input:focus+.modal-icon {
    fill: #2196F3;
}



.modal-item {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
    display: block;
    margin-top: 4px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px Solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: transparent;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #2196f3;
}

.textarea::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-check {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.check-text {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1)
}

.check-text a {
    color: rgba(33, 150, 243, 1);
    margin-left: 4px;
}

.check-text span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 1px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
}

.check-icon {
    fill: transparent;
}

.input-check:checked+.check-text span {
    background-color: #2196F3;
    border: none;
}

.input-check:checked+.check-text .check-icon {
    fill: #ffffff;
}

/*-----------footer-modal------------*/

.footer-modal-form {
    display: flex;
    padding-bottom: 0;
}

.footer-form {
    display: block;
    width: 570px;
    margin-left: 93px;
}

.footer-form-title {
    margin-top: 0px;
    margin-bottom: 20px;

    color: #ffffff;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.footer-modal-input {
    outline: transparent;
    background-color: transparent;
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    font-family: inherit;
    margin-bottom: 0px;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.footer-modal-input::placeholder {
    font-size: inherit;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
}



