@import './utils/vars';
@import './utils/hidden';
@import './utils/current';

@import './base/base';

@import './components/header';
@import './components/nav';
@import './components/logo';
@import './components/header-link';
@import './components/hero-title';
@import './components/hero-button';
@import './components/benefits-title';
@import './components/work-title';
@import './components/team-title';
@import './components/clients-title';
@import './components/team-soc';
@import './components/footer';
@import './components/footer-logo';
@import './components/address';
@import './components/footer-contacts';
@import './components/footer-title';
@import './components/footer-link';
@import './components/title-projects';
@import './components/button';
@import './components/filters';
@import './components/modal';
@import './components/active-button';
@import './components/title-modal';
@import './components/button-close';
@import './components/modal-input';
@import './components/modal-btn';
@import './components/modal-textarea';
@import './components/modal-check';
@import './components/modal-footer';

@import './layouts/hero';
@import './layouts/benefits';
@import './layouts/work';
@import './layouts/team';
@import './layouts/team-card';
@import './layouts/clients';
@import './layouts/clients-item';
@import './layouts/portfolio-list';