.work-comand {
    background-color: #F5F4FA;
}

.comand {
    margin-bottom: 10px;
    color: #212121;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
}