.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header-contact-link {
    display: flex;
    margin-right: 50px;
    margin-left: auto;
}
.header-contact-link:last-child {
    margin-right: 0px;
}