.page-header {
    border-bottom: 1px solid #ECECEC;
}
.page-header>.current {
    border-bottom: 0px;
}
.header-list {
    display: flex;
    align-items: center;
    margin-left: 0px;
}
.header-container {
    display: flex;
    align-items: center;
}










