.work {
    margin: 0px 0px;
    padding-top: 0px;
}
.work-container {
    align-items: center;
    text-align: center;
}
.work-list {
    display: flex;
}
.item-img {
    display: block;
    margin-right: 30px;
    margin-left: 0px;
    max-width: 100%;
    height: auto;
}