.text-title {
    margin-bottom: 10px;
    align-content: center;
    font-family: inherit;
    font-style: Bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 3%;
    color: #212121;
    text-transform: uppercase;
}