.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.footer-box {
    margin-right: 70px;
}