.header-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}
.sitenav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: #2196F3;
    }
    &.current {
        color: #2196f3;
    }
}

