.footer-modal-form {
    display: flex;
    padding-bottom: 0;
}
.footer-form {
    display: block;
    width: 570px;
    margin-left: 93px;
}
.footer-form-title {
    margin-top: 0px;
    margin-bottom: 20px;

    color: #ffffff;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.footer-modal-input {
    outline: transparent;
    background-color: transparent;
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    font-family: inherit;
    margin-bottom: 0px;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    &::placeholder {
        font-size: inherit;
        line-height: 1.2;
        color: rgba(255, 255, 255, 0.6);
    }
}
.submit-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 28px;
    background-color: #2196f3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.modal-icon-btn {
    fill: #ffffff;
    margin-left: 10px;
}