.work-title {
    margin-bottom: 50px;
    margin-top: 0px;
    align-items: center;
    color: #212121;
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-align: center;
}