.modal-title {
    margin-bottom: 12px;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
}