.hero {
    @include section (200px);
    margin: 0px auto;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: #2F303A;
}