.work-comand {
    @include section (94px);
    background-color: #F5F4FA;
}
.comand {
    margin-bottom: 10px;
    align-items: center;
    color: #212121;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.comand-list {
    margin-bottom: 16px;
    font-family: inherit;

    @include fonts (400, 16px, 1.2, 0.03em, center);
    
    color: #757575;
}
.team {
    display: flex;
    align-items: center;
    text-align: center;
}
.card-text {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #ffffff;
}

.team-card {
    margin-left: 0px;
    margin-right: 30px;
    max-width: 100%;
    height: auto;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.list-item .img:last-child {
    margin-right: 0px;
}