.work {
    align-items: center;
    text-align: center;
}
.work__list {
    display: flex;
}
.work-container {
    @include section (94px);
    margin: 0px 0px;
    padding-top: 0px;
}
.work__item {
    display: block;
    margin-right: 30px;
    margin-left: 0px;
    max-width: 100%;
    height: auto;

    .list &:last-child {
        margin-right: 0px;
    }
}
.work__box {
    position: relative;
}
.work__text {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 83px;
    padding-right: 82px;
    font-family: inherit;

    @include fonts (700, 14px, 1.2, 0.03em, center);

    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
}
